* {
    font-family: 'Times New Roman', Times, serif;
}

body,
html {
    background-color: #f5f5f5;
    color: rgb(20, 20, 20);
}


/* forms */
input,
select,
textarea {
    padding: 0.1em 0.4em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.page-title {
    font-weight: 600;
    font-size: 1.5em;
}


/* buttons */
.btn {
    background-color: rgb(23, 23, 23);
    border: none;
    color: rgb(223, 223, 223) !important;
    padding: 0.8em 1em;
    border-radius: 2px !important;
    transition: 0.2s;
}

.add-btn-settings:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255) !important; 
}