/* Home.css */


.home-wrapper {
    background-image: url("../../assets/images/bg2.jpg");
    height: 100vh;
    background-size: cover;
    /* This will ensure the entire background image is covered within the element */
    background-position: center;
}

.nav-wrapper {
    width: 100%;
}


.nav-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(148, 148, 148);
    background-color: rgb(243, 243, 243, 0.75);
    color: #2e2e2e;
    border-radius: 1px;
    height: 10em;
    /* Adjust the height */
    width: 15em;
    /* Adjust the width */
    margin: 0.2em;
    box-shadow: 0 4px 8px rgba(254, 254, 254, 0.5);
    transition: 0.2s;
    cursor: pointer;

}

.nav-box:hover {
    border: 0.5px solid rgb(34, 34, 34);
    background-color: rgb(243, 243, 243, 0.4);
    color: #000000;
    border-radius: 4px;
    /* padding: 3em 5em; */
    box-shadow: 0 1px 10px 2px rgba(254, 254, 254, 0.1);
    margin: 0.2em;
    text-decoration: none;
}

.nav-box:hover i {
    transition: 0.4s;
    transform: rotate(360deg);
}

.status-wrapper {
    /* border: 0.5px solid rgb(148, 148, 148);
    background-color: rgb(243, 243, 243, 0.75);
    color: #2e2e2e;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(254, 254, 254, 0.5);
    margin: auto; width: 50%;
    margin-top: 0.1em; */
    width: 100%;
}

.circle-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 0.5px solid rgb(148, 148, 148); */
    border-bottom: 0.5px solid rgb(34, 34, 34);
    background-color: transparent;
    color: #2e2e2e;
    border-radius: 1px;
    height: 12em;
    width: 15em;
    margin: 0.2em;
    /* box-shadow: 0 1px 10px 1px rgba(254, 254, 254, 0.1); */

}

.circle-box h5 {
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    color: rgb(7, 7, 7);
}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 0.5px solid rgb(22, 22, 22);
    background-color: transparent;
    background-color: rgb(243, 243, 243, 0.1);
    color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 0.5em;
}



@media (max-width: 491px) {
    .nav-wrapper {
        width: 100%;
        padding: 0 0.3em;
    }

    .nav-box {
        border: 0.5px solid rgb(179, 179, 179);
        background-color: rgb(247, 247, 247, 0.9);
        border-radius: 6px;
        padding: 2.5em 3.5em;
        height: 10em;
        min-width: 50%;
    }
}