/* Home.css */


.home-wrapper {
    background-image: url("../../assets/images/bg.jpg");
    height: 100vh;
    background-size: cover;
    /* This will ensure the entire background image is covered within the element */
    background-position: center;
}

.nav-wrapper {
    width: 100%;
}

.nav-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(148, 148, 148);
    background-color: rgb(243, 243, 243, 0.75);
    color: #2e2e2e;
    border-radius: 1px;
    height: 10em;
    /* Adjust the height */
    width: 10em;
    /* Adjust the width */
    margin: 0.2em;
    box-shadow: 0 4px 8px rgba(254, 254, 254, 0.5);
    transition: 0.2s;
    cursor: pointer;

}

.nav-box:hover {
    border: 0.5px solid rgb(34, 34, 34);
    background-color: rgb(243, 243, 243, 0.4);
    color: #000000;
    border-radius: 4px;
    /* padding: 3em 5em; */
    box-shadow: 0 4px 8px rgba(254, 254, 254, 0.1);
    margin: 0.2em;
    text-decoration: none;
}



@media (max-width: 420px) {
    .nav-box {
        border: 0.5px solid rgb(179, 179, 179);
        background-color: rgb(247, 247, 247);
        border-radius: 6px;
        padding: 2.5em 3.5em;
        margin: 0.2em;
        box-shadow: 0 4px 8px rgba(75, 75, 75, 0.3);
        transition: 0.2s;
        cursor: pointer;
    }
}