/* Settings css */

.hr {
    border-color: rgb(138, 138, 138);
}

input {
    width: 10em;
    height: 3em;
}

.form-group-settings input {
    width: 10em;
    height: 3em;
}

.form-group-settings select {
    height: 3em;
    color: black !important;
}

/* .add-btn-settings {
    background-color: rgb(17, 17, 17);
    border: none;
    color: rgb(223, 223, 223);
    padding: 0.7em 1em;
    border-radius: 2px;
    transition: 0.2s;
}

.add-btn-settings:hover {
    background-color: black;
    color: rgb(223, 223, 223);
} */

.hr-divider {
    display: none;
}


@media (max-width: 772px) {
    .btn-responsive-settings {
        margin-top: 0.2em !important;
    }

    .hr-divider {
        display: block;
        border: 0.5px solid rgb(236, 236, 236);
    }
}